body
{
	background-color: ;
}
.lessonContainer
{
	text-align: center;
	/*background-color: lightyellow;*/
	width: 90%;
	margin-left:4%;
	padding: 1%;
	/*box-shadow: 5px 5px 10px 1px grey;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lessonListContainer
{
	
}
.checkST
{
	width: 50px;
	text-align: center;
}
.slno
{
	width: 40px;
	text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /*margin-left: 15%;*/
  border-radius: 25px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.tblData:hover
{
	background-color: lightgray;
}
.tblHead
{
	background-color: #67c7e0;
}
.checkST
{
	width: 50px;
	text-align: center;
}
.certificate
{
	width: 50px;
	text-align: center;	
}
.lessonTitle
{
	text-decoration: none; 
	color: black;
	/*font-weight: bold;*/
	font-family: 'times'
}

.lessonVideo
{
	margin-left: 18%;
	width: 60%;
	height: 23rem;
	background-color: lightgray;
	border-radius: 1%;
	padding: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lessonIframe
{

	width: 100%;
	height: 100%;
}

.lessonDesc
{

	font-weight: bold;
}

.descDiv
{
	border-radius: 0.5em;
	margin-top: 2%;
	padding: 1%;
	background-color: lightgreen;
	width: 70%;
	margin-left: 13%;
}

.vocDiv
{
	/*border-radius: 0.5em;*/
	margin-top: 2%;
	padding: 0.5%;
	/*background-color: orange;*/
	width: 85%;
	margin-left: 6%;
}
.vocTitle
{
	/*border-radius: 0.5em;*/
	/*margin-top: 2%;*/
	padding: 1%;
	background-color: lightgray;
	width: 98%;
	text-align: left;
	font-weight: bold;
	/*margin-left: 4%;*/
}
/*
.data:nth-child(even)
{
	background-color: lightyellow;
}
.data:nth-child(odd)
{
	background-color: #e4f7da;
}*/